.chart{
    display:flex;
    margin-left: 22%;

}

/* width: 40%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5%;
    justify-content: space-between; */

.bar-chart{
    padding: 2em;
    
}

.line-chart{
    padding: 2em;
}